@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

@font-face {
  font-family: "Lexend";
  src: url(../public/Lexend/Lexend-VariableFont_wght.ttf);
  font-style: normal;
}

/* globals.css */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'), /* Use the appropriate path and format */
       url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}


#b-font {
  font-family: "Lexend";
  font-weight: 600;
}

#head {
  font-family: "Lexend";
  font-weight: 500;
}

#nav-head {
  font-family: "Lexend";
  font-weight: 400;
}

#p-font {
  font-family: "Lexend";
  font-weight: 300;
}

.btn-curv {
  border-radius: 10px 50px 10px 50px;
  font-family: "Lexend";
  font-weight: 500;
}

.contect-us-text {
  @apply cursor-pointer hover:text-blue-500 px-7 py-3 text-[8px] sm:text-[10px] md:text-[10px] lg:text-[12px] xl:text-[14px] 2xl:text-[16px];
}

.productD-text {
  @apply sm:text-[10px] md:text-[10px] lg:text-[10px] xl:text-[14px] 2xl:text-[18px];
}

.custom_input {
  @apply rounded border border-gray-300 bg-gray-50 text-gray-500 focus:bg-white dark:border dark:border-gray-600 focus:outline-none relative 2xl:text-sm 2xl:my-3 2xl:px-3 2xl:py-2 2xl:h-[45px] xl:text-base xl:m-2 xl:px-3 xl:py-1 xl:h-[40px] w-full lg:text-sm lg:m-2 lg:px-2 lg:py-1 lg:h-[35px] md:text-sm md:m-2 md:px-3 md:py-2 md:h-[30px] sm:text-sm sm:m-1 sm:px-2 sm:py-1 sm:h-[30px] text-sm m-1 px-2 py-1 h-[25px];
}

#bg-posterS {
  background-image: url(../public/images/Group.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position: bottom;
  padding: 0px;
}

#bg-poster {
  background-image: url(../public/images/poster-head.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position: center;
}

@media (max-width: 1024px) {
  #nav-drawer {
    display: block !important;
  }
}

@media (min-width: 1024px) {
  #nav-drawer {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  #nav-menu {
    display: none;
  }
}

@media (min-width: 1024px) {
  #nav-menu {
    display: block;
  }
}

@media (min-width: 1536px) and (max-width: 1800px) {
  .navv {
    padding: 20px 0px !important;
  }

  .nav {
    width: 1200px !important;
  }

  .img-div {
    width: 345px !important;
  }

  .arrow {
    margin-left: 275px !important;
  }

  .find-div {
    width: 415px !important;
  }

  .div-Champion {
    margin-left: auto !important;
  }

  .last-img {
    width: 240px !important;
    height: 240px !important;
  }

  .text-Mixing {
    font-size: 30px !important;
    line-height: 28px !important;
  }

  .text-Curated {
    line-height: 60px !important;
    font-size: 55px !important;
  }

  .text-Herbal {
    line-height: 70px !important;
    font-size: 70px !important;
  }

  .pera-Explore {
    margin: 22px 0px !important;
    font-size: 14px !important;
  }

  .btn-curv {
    margin-top: 0px !important;
  }

  .head-bttn {
    font-size: 16px !important;
    line-height: 18px !important;
    padding: 16px 4px !important;
  }

  .Unique-head {
    font-size: 50px !important;
    line-height: 50px !important;
    margin-top: 20px !important;
  }

  .noAdded-head {
    font-size: 30px !important;
    line-height: 40px !important;
  }

  .Bringing-pera {
    width: 50% !important;
  }

  .product-name {
    font-size: 20px !important;
    line-height: 30px !important;
  }

  .product-price {
    font-size: 25px !important;
    line-height: 20px !important;
  }

  .Find-head {
    font-size: 45px !important;
    line-height: 30px !important;
  }

  .suli {
    font-size: 20px !important;
    line-height: 25px !important;
  }

  .find-titles {
    width: 240px !important;
    font-size: 16px !important;
    padding: 8px !important;
  }

  .find-price {
    font-size: 35px !important;
    line-height: 25px !important;
    padding: 10px 14px !important;
    margin-top: 10px !important;
  }

  .find-btn-curv {
    padding: 0px 30px !important;
    margin: 15px 0px !important;
  }

  .find-btn {
    font-size: 18px !important;
    line-height: 20px !important;
    padding: 16px 14px !important;
  }

  .Instagram-head {
    font-size: 20px !important;
    line-height: 10px !important;
  }

  .SuliTeas {
    font-size: 40px !important;
    line-height: 60px !important;
  }

  .last-div {
    margin-top: 10px !important;
  }

  .last-img {
    width: 225px !important;
    height: 225px !important;
  }

  .footer-logo {
    font-size: 35px !important;
  }

  .footer-hesdings {
    font-size: 16px !important;
    line-height: 25px !important;
  }

  .footer-0ptions {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .arrow {
    margin-left: 270px !important;
  }
}

@media (max-width: 640px) and (min-width: 390px) {
  .xsm-drawer {
    width: 25%;
  }

  .xms-m {
    padding: 50px 0px;
  }

  .contain-div {
    margin-left: 40px;
  }

  .text-Mixing {
    font-size: 9px;
  }

  .text-Curated {
    font-size: 18px;
    line-height: 20px;
  }

  .text-Herbal {
    font-size: 22px;
    line-height: 16px;
    margin: 2px 0px;
  }

  .pera-Explore {
    font-size: 5px;
    margin: 2px 0px;
  }

  .head-bttn {
    font-size: 8px;
    line-height: 8px;
    padding: 6px 10px;
  }
}

#image2 {
  position: relative;
}

#img1 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#img4 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#image2:hover #img1 {
  opacity: 0.3;
}

#image2:hover #img4 {
  opacity: 1;
}

#image2:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: -1;
  border-radius: 10px;
}

#img4 {
  width: 30px;
  font-size: 50px;
}

/* Slide in */
#w3rcontainer {
  border: 1px solid #cccfdb;
  border-radius: 1px;
}

#hover-underline-animation {
  display: inline-block;
  position: relative;
}

#hover-underline-animation:after {
  content: "";
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

li {
  position: relative;
  color: #000;
  text-decoration: none;
}

li:hover {
  color: #000;
}

li::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

li:hover::before {
  transform: scaleX(1);
}